sudo: false
language: python
cache:
  directories:
    - $HOME/.cache/pip
python:
  - 3.6
  #- "3.7-dev"
install:
  - pip install --upgrade pip wheel
  - pip install pytest-cov
  - pip install coveralls
  - pip install pylint
  - make install
script:
  - make test
after_success:
  - coveralls
  - pylint xphyle
